<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Format to use: <i class="material-icons">add</i> -->

</head>

<body>

    <!-- Speaker lookin Div -->
    <div class="speaker1 bgBlack">
        <i style="margin-right: -2%;" class="topSpk medium material-icons red-text">blur_circular</i>
        <i style="margin-right: -2%;" class="botSpk medium material-icons red-text">blur_circular</i>
    </div>

    <div class="container row bgBlack">
        <h1 class="center wf">S<i style="margin-right: -2%;" class="medium material-icons red-text">blur_circular</i>
            cket Tunez
        </h1>

        <div class="row box col s8 push-s4" >
            <!-- Form to create a party -->
            <div class="box width-45 left">
                <form (submit)="createParty()" class="center">
                    <div>
                        <label for="">Party Name:</label>
                        <input style = "color: white" type="text" name="name" [(ngModel)]="playlist.room">
                    </div>
                    <button class="btn red accent-4">Join Party</button>
                </form>
            </div>

        </div>

    </div>

    <!-- Speaker lookin Div -->
    <div class="speaker2 bgBlack">
        <i style="margin-right: -2%;" class=" topSpk medium material-icons red-text">blur_circular</i>
        <i style="margin-right: -2%;" class=" botSpk medium material-icons red-text">blur_circular</i>
    </div>
</body>

</html>