.container {
  text-align: center;
}

/******SPEAKER DECORATIONS**************************/
.speaker-body {
  min-height: 70vh;
}

.speaker-hole-1 {
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  background-color: white;
}

.speaker-hole-2 {
  width: 13vh;
  height: 13vh;
  border-radius: 50%;
  background-color: #DC3545;
}

/******SCREEN DECORATIONS**************************/
.screen {
  height: 50vh;
  background-color: black;
  border-radius: 1%;
}

/******SEARCH RESULTS**************************/
.overflow-auto {
  height: 650px;
  overflow: scroll;
}
