<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
  <div class="container">
    <h2>SocketTuneMe🎵</h2>
    <!--  music player component -->
    <app-player *ngIf="SongId" [videoID]="SongId"></app-player>
    <div class="insert">
      <h3>Insert that next 🔥 track</h3>
      <!--  form for song submission -->
      <form (submit)="onSubmit()">
        <div class="form-group">
          <input type="text" class="form-control music-insert" name="link" placeholder="Fire Tracks Only"
            [(ngModel)]="newSong.link">
        </div>
        <button type="submit" class="btn btn-danger mgb">Submit</button>
      </form>
    </div>
    <div class="row">
      <div class="col-lg-12" *ngFor="let song of allSongs;">
        <div class="card text-white bg-dark mb-3 mvr" style="max-width: 40rem;">
          <div class="card-header">{{song}} <span class = "font-size: 18px">👍</span> </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
